In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_cs = pd.read_csv('census_starter.csv')
df_train.head(5)

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [3]:
df_train.describe()

               cfips  microbusiness_density        active
count  122265.000000          122265.000000  1.222650e+05
mean    30376.037640               3.817671  6.442858e+03
std     15143.508721               4.991087  3.304001e+04
min      1001.000000               0.000000  0.000000e+00
25%     18177.000000               1.639344  1.450000e+02
50%     29173.000000               2.586543  4.880000e+02
75%     45077.000000               4.519231  2.124000e+03
max     56045.000000             284.340030  1.167744e+06

In [4]:
df_train.groupby('state')['microbusiness_density'].mean().to_frame().sort_values('microbusiness_density', ascending = False)

                      microbusiness_density
state
Delaware                          18.184607
District of Columbia              13.508989
Nevada                            12.560128
Hawaii                             9.122058
Wyoming                            9.036705
Massachusetts                      8.891999
Colorado                           8.722268
Utah                               8.329712
New Jersey                         7.735660
California                         7.555675
Vermont                            7.403828
Connecticut                        7.107431
Maryland                           7.069416
Rhode Island                       6.985363
Florida                            6.943335
Oregon                             6.615854
New Hampshire                      6.433706
Idaho                              5.468517
Washington                         5.319675
New York                           5.218901
Maine                              5.097490
Arizona                            4.932729
Virginia                           4.467568
Alaska                             4.426646
North Carolina                     4.046005
Montana                            3.893581
Michigan                           3.598645
Pennsylvania                       3.597898
Wisconsin                          3.564023
South Dakota                       3.487868
Minnesota                          3.467160
New Mexico                         3.441164
Tennessee                          3.335193
Texas                              3.311545
Georgia                            3.291475
Illinois                           3.270005
South Carolina                     3.141456
Iowa                               3.120935
Indiana                            3.062871
Ohio                               3.034945
Missouri                           2.720314
Oklahoma                           2.607380
Nebraska                           2.570879
Kansas                             2.463091
North Dakota                       2.418902
Louisiana                          2.245848
Alabama                            2.223274
Kentucky                           2.077160
Arkansas                           1.998925
West Virginia                      1.855457
Mississippi                        1.696296